.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation li {
	display: inline-block;
	margin-right: 10px;
}

.navigation li:last-child {
	margin-right: 0;
}

.navigation a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.navigation a:hover {
	color: #666;
}
