.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.list-item .name {
	margin-left: 10px;
}

.list-item .color {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	border-radius: 50%;
}

/* Custom classes for each list item */
.payroll-select {
	color: #0000ff;
}

.benu-direct {
	color: #259617;
}

.schotpoort-connect {
	color: #e3c922;
}

.knhb {
	color: #e39c22;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
