.App-link {
	color: #61dafb;
}

.list {
	list-style-type: none;
	padding: 0;
}

.list li {
	border-bottom: solid 1px #ccc;
}
/* Custom classes for each list item */
.payroll-select {
	color: #0000ff;
}

.benu-direct {
	color: #259617;
}

.schotpoort-connect {
	color: #e3c922;
}

.knhb {
	color: #e39c22;
}
